@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p>
    <strong>Disclaimer:</strong><br><br>

    The following code assessment is provided solely for the purpose of evaluating technical skills and proficiency. This assessment is intended for my use (Marjoe Aguilar), and it is confidential in nature.<br><br>

    You are authorized to use the provided code for the purpose of completing the assessment and evaluating your skills. You may modify, execute, and test the code as necessary to demonstrate your abilities.<br><br>

    Any code, algorithms, or solutions provided as part of this assessment are my intellectual property. While you are permitted to use the code for assessment purposes, you may not share, distribute, or reproduce it without my explicit permission.<br><br>

    I assume no liability for any misuse or unauthorized disclosure of the assessment materials. Any unauthorized use, reproduction, or distribution of the assessment materials is strictly prohibited.<br><br>

    By accessing or using the assessment materials, you agree to abide by the terms and conditions outlined herein. If you have any questions or concerns regarding this disclaimer or the assessment materials, please contact me at marjoe.aguilar18@gmail.com or 09271613957.
</p>



